.cards {
    height: 90em;
    padding-left: 6em;
    padding-right: 6em;
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    padding-top: 2em;
}

@media (max-width: 900px) {
    .cards {
        margin-bottom: 5em;
        padding-left: 3em;
        padding-right: 3em;
        height: 125em;
    }
}

@media (max-width: 700px) {
    .cards {
        margin-bottom: 5em;
        padding-left: 2em;
        padding-right: 2em;
        height: 160em;
    }
}

@media (max-width: 600px) {
    .cards {
        padding-left: 2em;
        padding-right: 1.5em;
    }
}

@media (max-width: 550px) {
    .cards {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .cards {
        padding-left: 2em;
        padding-right: 1em;
        margin-bottom: 10em;
        width: 100%;
        height: 400em
    }

}

@media (max-width: 460px) {
    .cards {
        width: 105%;
    }
}

@media (max-width: 450px) {
    .cards {
        width: 109%;
    }
}

@media (max-width: 430px) {
    .cards {
        width: 113%;
    }
}

@media (max-width: 415px) {
    .cards {
        width: 135%;
    }
}

@media (max-width: 408px) {
    .cards {
        width: 140%;
    }
}

@media (max-width: 400px) {
    .cards {
        width: 140%;
    }
}

@media (max-width: 320px) {
    .cards {
        width: 150%;
    }
}

@media (max-width: 300px) {
    .cards {
        width: 185%;
    }
}

@media (max-width: 250px) {
    .cards {
        width: 230%;
    }
}

@media (max-width: 200px) {
    .cards {
        width: 280%;
    }
}