.header {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(https://s3-alpha-sig.figma.com/img/154e/382f/b7e8be84d7248b8b9812172cad1cd0c9?Expires=1695600000&Signature=OsNLaMa8CnSNnQeUuaSqQc4ItYP-nbUj0fcZVpScVICd8NzZdIEz80MJBNhEju2IQOUMxTFuDw4FavRj8rGqkBK6uLeq0vJG~Y-EPhP~LInckDsnzuQ5Y2BdrMTWOqkPaFdDAPmQXSLpWteihqFaB2f2VQGC6Za5gHu7t3hq62C0X21qB-8H7osPvHdFmh0c-B881mmDx6JQCfpUQRzNHAjMxdvS~LrFQthLfxQb29n8J4z25KNx4cSOzRDCMXJaP0gpPcPRXMYrFdz-nbt~yFJLM37b1YLKasT2gd5K2x6nxGQWVPlwAafWCDzo3TzVihPSl0FiwjfkbBREka5jUQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4), lightgray 50% / contain no-repeat;
    height: 550px;
    width: 100%;
    background-position: center;
    background-size: contain;
}

@media (max-width: 950px) {
    .header {
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media (max-width: 600px) {
    .header {
        height: 750px;

    }

}

@media (max-width: 550px) {
    .header {
        width: 111%;
    }
}

@media (max-width: 500px) {
    .header {
        width: 110%;
    }
}

@media (max-width: 460px) {
    .header {
        width: 115%;
        height: 800px;
    }
}

@media (max-width: 450px) {
    .header {
        width: 120%;
    }
}

@media (max-width: 430px) {
    .header {
        width: 125%;
    }
}

@media (max-width: 415px) {
    .header {
        width: 147%;
    }
}

@media (max-width: 408px) {
    .header {
        width: 152%;
    }
}

@media (max-width: 380px) {
    .header {
        width: 153%;
        height: 850px;
    }
}

@media (max-width: 320px) {
    .header {
        width: 166%;
    }
}

@media (max-width: 300px) {
    .header {
        width: 202%;
        height: 980px;
    }
}

@media (max-width: 250px) {
    .header {
        width: 251%;
    }
}

@media (max-width: 200px) {
    .header {
        width: 305%;
        height: 1200px;
    }
}